<mat-toolbar color="primary">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a routerLink="/home">Sample</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
        <li *ngIf="!isUserAuthenticated()"><a routerLink="/register-user">Register</a></li>
      </ul>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li *ngIf="isUserAuthenticated()"><a (click)="logOut()">Logout</a></li>
      </ul>
</div>
</mat-toolbar>
